strong {
    font-weight: bold;
  }
  
  p {
    margin: 0.75rem 0 0;
  }
  
  .remove {
    border: 0 none;
    outline: 0 none;
    background-color: #666;
    color: #fff;
  }
  
  .main {
    clear: both;
    font-size: 0.75rem;
    margin: 0 auto;
    overflow: hidden;
    padding: 1rem 0;
    width: 960px;
  }
  
  .product-frame{
      width:100%
  }
  .basket-labels,
  .basket-product {
    width:100%;
  }

  .basket{
      margin: auto;
  }
  
  .remove,
  .item,
  .fav_price,
  .basket-product,
  .product-image,
  .product-details {
    float: left;
  }
  
  .fav_price:before,
  .total-value:before{
    content: "$";
  }

  
  .basket {
    width: 70%;
  }
  
  .basket-labels {
    border-top: 1px solid rgb(20, 19, 19);
    border-bottom: 1px solid rgb(20, 19, 19);
    margin-top: 1.625rem;
  }
  
  .basket-labels ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .list_price {
      margin-left: 90px;
  }
  
  .basket-labels li {
    color: #111;
    display: inline-block;
    padding: 0.625rem 0;
  }
  
  .item {
    width: 70%;
  }
  
  .fav_price {
    text-align: right;
  }
  
  .remove {
    bottom: 1.125rem;
    float: right;
    position: absolute;
    right: 0;
    text-align: right;
    width: 45%;
  }
  
  .remove{
    background-color: transparent;
    color: #777;
    float: none;
    text-decoration: underline;
    text-transform: uppercase;
  }
  
  .item-heading {
      width: 56%;
    padding-left: 4.375rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .basket-product {
    border-bottom: 1px solid gray;
    padding: 1rem 0;
    position: relative;
  }
  
  .product-image {
    width: 35%;
  }
  
  .product-details {
    width: 65%;
  }
  
  .product-frame {
    border: 1px solid #aaa;
  }
  
  .product-details {
    padding: 0 1.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .aside {
    margin-left: 750px;
    margin-top: 400px;
    position: relative;
    width: 30%;
  }
  
  .summary {
    background-color: rgba(235, 127, 145, 0.76);
    border: 1px solid rgba(202, 115, 115, 0.829);
    padding: 1rem;
    position: fixed;
    width: 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .summary-total-items {
    color: black;
    font-size: 0.875rem;
    text-align: center;
  }
  
  .summary-total {
    border-top: 1px solid rgb(17, 17, 17);
    border-bottom: 1px solid #111;
    clear: both;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0.5rem 0;
  }
  
  .total-title,
  .total-value {
    color: #111;
    float: left;
    width: 50%;
  }
  
  .total-value {
    text-align: right;
  }
  
  .total-title {
    font-weight: bold;
    text-transform: uppercase;
  }
  
 .favRemoveButton{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:10px;
    padding:2px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
  }
  .favRemoveButton:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
  }
  .favRemoveButton:active {
    position:relative;
    top:1px;
  }